@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf8fc;
  --foreground: #1b1b1e;
}

@layer base {
  body {
    @apply bg-surface text-on-surface min-h-screen;
    font-family: 'Inter', sans-serif;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.glass-effect {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@keyframes ping-soft {
  75%, 100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.animate-ping-soft {
  animation: ping-soft 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
